<h1>Here we go:</h1>
<% if @stringerrors.eql?("") %>
  <h2><%=@string1%>  <%=@check_anagrams%> of <%=@string2%> </h2>
  <h2><%=@string1%>  <%=@check_palindrome %> of <%=@string2%></h2>
  <h2><%=@string1%>  <%=@check_antigrams %> of <%=@string2%><h2>
<% else %>
  <h2><%=@stringerrors%> </h2>
<% end %>
<a href = '/' id="play-again">Play Again</a>
